@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Josefin+Sans&display=swap');

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: none;
}

html,
body {
  font-family: var(--bs-body-font-family);
  font-family: 'Josefin Sans',
    sans-serif;
  margin: 0;
  min-height: 100vh;
  color: black;
  justify-content: center;
  /* background-position: center center; */
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #d6d6d6;
}

section {
  min-height: 100vh;
  padding: 5vh;
  align-items: center;
}

section:nth-child(1) {
  background-color: yellowgreen;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

nav div ul li {
  border: none;
}

nav div ul li a {
  font-size: calc(7px + 0.4vw);
  text-transform: uppercase;
  font-weight: bold;
  color: #585b5b;
  letter-spacing: 2px;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 10px;
  transition: all ease 0.8s !important;
}

nav div ul li a.active,
nav div ul li a:hover {
  background-color: #fffd98;
  box-shadow: rgba(191, 174, 136, 0.48) 6px 2px 16px 0px,
    rgba(255, 248, 216, 0.8) -6px -2px 16px 0px;
  transition: all ease 0.2s !important;
}

/* id */
#nav-ul {
  display: contents;
  height: 20px;
}

/* class */
.font-cursive {
  font-family: 'Bonheur Royale',
    cursive;
}

.blur-bg {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.4);
}

.add-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}