$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #ffffff;

select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    margin: auto 10px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, $glass-icon 3em, $glass 3em);
    color: white;
    border-radius: 10px;
    text-align: center;
    width: max-content;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;

    option {
        color: black;
        background-image: $gradient;
    }

    &:focus {
        outline: none;
    }

    &::-ms-expand {
        display: none;
    }
}

.emoji {
    height: 4.5em;
    width: 4.5em;
    background-color: transparent;
    color: transparent;

    img {
        opacity: 0.6;
        border-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
                rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }
    }

    &.active {
        img {
            transform: scale(1.05);
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
                rgba(0, 0, 0, 0.22) 0px 10px 10px;
            opacity: 1;
        }
    }
}